@import 'fonts';
@import 'variables';

@import 'layout';

@import 'dashboard';
@import 'edit-profile';

body {
  overflow-x: hidden;
}

.ff-poppins {
  font-family: $font-family-sans-serif;
}

.fw-medium {
  font-weight: 500;
}

.fw-semibold {
  font-weight: 600;
}

.form-label {
  font-weight: 500;
}

.is-invalid {
  &:focus {
    box-shadow: none !important;
  }
}

.cursor-pointer {
  cursor: pointer;
}
