@import 'fonts';
@import 'variables';

@import 'layout';

@import 'dashboard';
@import 'edit-profile';
@import 'trackers/prayer/daily';
@import 'trackers/prayer/leaderboard';

body {
  overflow-x: hidden;
}

.ff-poppins {
  font-family: $font-family-sans-serif;
}

.fw-medium {
  font-weight: 500;
}

.fw-semibold {
  font-weight: 600;
}

.form-label {
  font-weight: 500;
}

.ls-0 {
  letter-spacing: 0px;
}

.fs-7 {
  font-size: $font-size-base * .75;
}

.fs-8 {
  font-size: $font-size-base * .625;
}

.fs-9 {
  font-size: $font-size-base * .5;
}

.is-invalid {
  &:focus {
    box-shadow: none !important;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.toast {
  &-wrapper {
    width: 100%;
    max-width: $toast-max-width;
  }

  &.success {
    background-color: $success;
    $box-shadow: 0 .5rem 1rem rgba($success, .15) !default;
  }

  &.error {
    background-color: $danger;
    $box-shadow: 0 .5rem 1rem rgba($danger, .15) !default;
  }

  i,
  span {
    color: $white;
  }
}

.page-title {
  letter-spacing: 2px;
}

.progress-bar {
  animation: smoothWidth ease-in-out 2s forwards;
}

.blur {
  color: transparent;
  text-shadow: 0 0 5px rgba($black, 0.5);
}

@keyframes smoothWidth {
  0% { width: 0%; }
  100% { width: var(--width); }
}
